body div{
	/*border: 1px solid black;*/
}


body{
background-color: #ecf0f1;
}

.menu {
	height: 32px;
	margin: auto; 
	/*margin-bottom: 0px;*/
	/*margin-top: 10px;*/
	/*margin-bottom: -35px;*/
	background-color: #011345;
	/*border: 2px solid gray;*/
	padding-bottom: 10px;
}

.menu-container #left div{
	position: relative;
	float: left;
	display: inline-block;
	width: 100px;
	height: 40px;
}

.social-buttons div {
	position: relative;
	float: right;
	display: inline-block;
	height: 32px;
	height: 32px;
	padding: 5px 0px 0px 0px;
	
}

.menu-container a{
	text-decoration: none;
	color: #BCB9CD;
	text-decoration: bold;
	font-family: Helvetica;
	font-size: 15px;
	text-align: center;

}
.menu-container a:hover{
	color: #ffffff;
}

.hero{
	height: 600px;
	background-image: url("img/bridge-backgrounds-112.jpg");
	/*margin-top: 5px;*/
	margin-bottom: 15px;
	padding-left: 30px;
	margin-top: -35px;
}

.hero-content h1{
	font-size: 50px;
	font-family:Helvetica;
	color: #ecf0f1;
	padding-top: 100px;

	text-transform: uppercase;
	font-weight: bold;
}

.hero-content p{
	font-size: 20px;
	font-family: Helvetica;
	color: #1E3E54;
}

.hero-content div{
	/*border: 2px solid red;*/
	background-color: #bdc3c7;
	/*opacity: 0.6;*/
	width: 200px;
	height: 50px;
	text-align: center;
	font-weight: bold;
	margin-top: 175px;
	margin-left: 150px;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
}
.hero-content div a {
	color: #white;
	text-decoration:none;
	font-size: 25px;
	font-family:Helvetica;
}

.page {
	width: 945px;
	margin: auto;
	background-color: #ffffff;
	font-family:Helvetica;
	
}

.page .pg-header {
	padding: 10px 10px 10px 10px;
	margin: auto;
	
}

.page .pg-content .row{
	padding: 10px;
	background-color: white;
	text-align: center;
}

.page .pg-content .row div{
	display: inline-block;
	width: 420px;
	height: 270px;
	
}

.pg-content .row .text  {
	position:relative;
	float:left;
	margin: 0px 30px 0px 20px;
	padding: 0px 5px 0px 10px;
	border-bottom: 1px dotted #999008;
}

#read-more {
	height: 50px;
	width: 120px;
	border: 2px solid #2980b9;
	margin-top: 10px;
}

.pg-content .row .image  div{
	position:relative;
	float:right;
	box-shadow: 0px 1px 8px 1px #7f8c8d;
	background-color:#ffffff;

}

.pg-content .row .image  img{
	padding: 10px;

}

.break{
	height: 90px;
	background-color: #ecf0f1;
}

.break p{
	text-align: center;
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
	padding-top: 25px;
}

.g-container{
	padding: 20px 0px 10px 0px;
	margin-left: 150px;
}

.g-container .row div{
	position:relative;
	display: inline-block;
	padding: 5px;
	box-shadow: 0px 1px 8px 1px #7f8c8d;
	margin-bottom: 15px;
	margin-right: 15px;
	
}

.footer {
	margin-top: 10px;
}

.ft-content{
	background-color: #2c3e50;					/*jak ustawić żeby był widoczny kolor tła?! */
	padding: 10px 40px 100px 38px;
	color: #BCB9CD;
}

.footer .terms-privacy {
	position: relative;
	float: left;
	width: 300px;
	margin-left: 310px;
	padding-left: 20px;
	font-family:Helvetica;
	}

.footer .contact {
	position: relative;
	float: right;
	text-align: right;
	margin-right: 310px;
	padding-right: 10px;
	width: 150px;
	font-family:Helvetica;
}

.footer .contact li{
	display: block;
}

.footer a{
	color: #BCB9CD;
	text-decoration: none;
	
}

.footer a:visited{
	text-decoration: none;
	color: #BCB9CD;
}

.footer a:hover{
	text-decoration: none;
	color: #ffffff;
}


/*div.img a:hover img {
    border:1px solid #0000ff;
}*/
